[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impower133"]
	path = impower133
	url = https://github.com/fanfande131/impower133
